<a href="https://colab.research.google.com/github/AnnAnsas/Pet-Project/blob/main/Diabetes_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the libraries

In [3]:
import numpy as np
import pandas as pd 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

PIMA diabetes dataset

In [4]:
diabetes_dateset = pd.read_csv("/content/diabetes.csv")

In [7]:
print(diabetes_dateset.head())
print(diabetes_dateset.shape)

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3
3            1       89             66             23       94  28.1
4            0      137             40             35      168  43.1

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1
3                     0.167   21        0
4                     2.288   33        1
(768, 9)

In [8]:
diabetes_dateset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
diabetes_dateset["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [10]:
diabetes_dateset.groupby("Outcome").mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [12]:
X = diabetes_dateset.drop("Outcome", axis = 1)
y = diabetes_dateset["Outcome"]

Data Standartization

In [18]:
scaler = StandardScaler()
scaler.fit(X)
standart_X = scaler.transform(X)
X = standart_X

Split data

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42, shuffle = True, stratify = y)

Training the model

In [30]:
classifier = svm.SVC(kernel = 'linear')
classifier.fit(X_train, y_train)

SVC(kernel='linear')

Accuracy Score

In [31]:
y_pred = classifier.predict(X_test)
test_data_accuracy = accuracy_score(y_pred, y_test)
print(test_data_accuracy)

0.7207792207792207

Making a Predictive System

In [ ]:
#taking random sample from the originaldata
input_data = (4,110,92,0,0,37.6,0.191,30)

input_data_np = np.asarray(input_data)

data_reshaped = input_data_np.reshape(1,-1)

std_data = scaler.transform(data_reshaped) 

prediction = classifier.predict(std_data)

if prediction[0] == 0:
  print("The person is not diabetic")
else:
  print("The person is diabetic")